.button {
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  border: solid 1px #555;
  cursor: pointer;
  font-weight: bold;
  &:hover {
    background-color: #555;
    color: #fff;
  }
  &__theme {
    &--classic {
      color: #555;
      background-color: #ddd;
    }
    &--validation {
      color: #fff;
      background-color: #2b0;
    }
    &--alert {
      color: #fff;
      background-color: #d22;
    }
  }
  &__size {
    &--mini {
      font-size: 12px;
    }
    &--medium {
      font-size: 16px;
    }
    &--large {
      font-size: 20px;
    }
  }
}
